html, body {
    margin: 0;
    padding: 0;
}

/* navbar styling */

.logo img { /* sizes logo correctly to fit tool bar */
	width: 50px;
  height: 50px;
  margin: 15px 25px;
}

.navBar { /* styling for nav bar */
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  padding: 0;
  background-color: red ;
  text-align: left;
}

.navBar ul, li {
  display: inline-block;
}
.navBar li { 
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  justify-content: center;;

  /* rounded button */
  border: 5px solid black;
  border-radius: 25px;
  background: green;
}

.navBar li:hover {
  cursor: pointer;
}

.navBar a {
  text-decoration: none;
}
.navBar a:hover {
	cursor: pointer;
    text-decoration: underline;
}

.navBarFlexbox{ 
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px 0 0;
}

.title {
  font-weight: bold;
  font-size: 25px;
}
/* home page styling */

#Home {
  margin-top: 80px; /* accounts for tool bar height */
  
}

.homePageFlexBox { /* flexbox styling for articles */ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
}

.firstColumn {
  /* border: 10px solid black; */
  padding: 10px 25px;
  margin: 10px;
  width: 50%;
}

.firstColumn > img {
  width: 100%;
  height: 50%;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  /* border: 10px solid black; */
  padding: 10px 5px;
  margin: 10px 5px;
  width: 30%;
}

.secondColumn > div {
  display: flex;
  flex-direction: column;
  /* border: 4px solid black; */
  height: 30vh;
  /* FONT HERE */
}

.secondColumn > div > img { /*sizes article preview iamges accordingly */
  max-width: 100vw;
  height: 80%;
} 

.secondColumn > div > p { /* article title styling */
  margin-left: 10px;
  font-weight: bold;
}

.articleName {
  /* FONT HERE */
  font-weight: bold;
  font-size: 45px;
}